<!-- Loop over each object in the projects array -->

     <div class="questions-container p-2 text-white bg-dark border border-white rounded-4">
        <div class="mb-3">
        <label for="question1" class="form-label">What is your current weight?</label>
        <input type="text" class="form-control">
        </div>
        <div class="mb-3">
        <label for="question2" class="form-label">What is your current height?</label>
        <input type="text" class="form-control">
        </div>
          <div class="mb-3">
        <label for="question3" class="form-label">What is your target weight?</label>
        <input type="text" class="form-control">
          </div>
          <div class="mb-3">
        <label for="question4" class="form-label">Describe your fitness goals.</label>
        <input type="text" class="form-control">
          </div>
        <button type="button" class="btn btn-secondary">Submit</button>
    </div>