
     <div class="questions-container p-2 text-white bg-dark border border-white rounded-4">
        <div class="mb-3">
        <label for="question1" class="form-label">Do you have membership to a gym?</label>
        <input type="text" class="form-control">
        </div>
        <div class="mb-3">
        <label for="question1" class="form-label">Do you have access to fitness equipment at home?</label>
        <input type="text" class="form-control">
        </div>
        <div class="mb-3">
        <label for="question1" class="form-label">What are some outdoor activities you enjoy?</label>
        <input type="text" class="form-control">
        </div>
        <div class="mb-3">
        <label for="question2" class="form-label">How many days per week are you able to exercise for an hour or more?</label>
        <input type="text" class="form-control">
        </div>
          <div class="mb-3">
        <label for="question3" class="form-label">What is your preferred exercise intensity level?</label>
        <input type="text" class="form-control">
          </div>
        <a type="button" class="btn btn-secondary" href="/questions1">Back</a>
        <a type="button" class="btn btn-secondary" href="/questions3">Next</a>
    </div>