.form-control {
    display: block;
    width: 30%;
}
body {
    /* background-image: url({{selectedImage}}); */
    background-repeat: no-repeat;
    background-size: cover;
  }

.form-label {
    color: #f5f5f5
}
